In [1]:
from defillama2 import DefiLlama
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

In [2]:
obj = DefiLlama()

## Get Fees paid to Protocols by users

In [3]:
dd = obj.get_fees(data_type='dailyFees')
dd.keys()

dict_keys(['fees_overall', 'fees_by_dex', 'fees_by_dex_by_chain_24h', 'daily_fees', 'daily_fees_by_dex'])

In [4]:
dd['fees_overall']

,total24h,total7d,change_1d,change_7d,change_1m,change_7dover7d
0,"7,715,824.2660","49,348,724.1537",8.9200,1.9000,-17.0400,-15.7500

In [5]:
dd['fees_by_dex'].head()

,name,category,change_1d,change_7d,change_1m,change_7dover7d,total24h,...,chains,dailyRevenue,dailyUserFees,dailyHoldersRevenue,dailyCreatorRevenue,dailySupplySideRevenue,dailyProtocolRevenue
0,0vix,Lending,1.2900,4.5100,-5.5800,0.6100,502.4004,...,[Polygon],150.7201,NaN,NaN,None,NaN,NaN
1,AAVE,Lending,-0.3400,-6.0100,-0.0400,2.8200,"165,379.6887",...,"[Ethereum, Avalanche, Polygon, Arbitrum, Optim...","21,135.3100",NaN,NaN,None,NaN,NaN
2,Abracadabra,CDP,-72.6200,894.2000,134.5600,220.0200,"13,841.8445",...,"[Ethereum, Fantom, Avalanche, BSC, Arbitrum]","6,920.9223",NaN,NaN,None,NaN,NaN
3,Angle,CDP,"3,001.3000","1,639.3400","2,073.3600",-2.8500,"16,567.7843",...,"[Ethereum, Optimism, Arbitrum, Polygon]","8,639.2411",NaN,NaN,None,NaN,NaN
4,ApeSwap AMM,Dexes,38.8800,17.9600,-26.8200,-45.9500,"2,704.4452",...,"[BSC, Ethereum, Polygon, Telos]",866.2216,NaN,NaN,None,NaN,NaN

In [6]:
dd['fees_by_dex_by_chain_24h'].head()

  protocol     chain     total24h
0     0vix   polygon     502.4004
1       v1  ethereum       8.9865
2       v2   polygon   4,319.3399
3       v2  ethereum 140,659.6483
4       v2      avax   1,076.0668

In [7]:
dd['daily_fees'].head()

                                volume
date
2019-10-11 00:00:00+00:00 403,559.2733
2019-10-12 00:00:00+00:00 331,752.9437
2019-10-13 00:00:00+00:00 260,963.1440
2019-10-14 00:00:00+00:00 229,162.7183
2019-10-15 00:00:00+00:00 308,044.9073

In [8]:
dd['daily_fees_by_dex'].tail()

,bitcoin,compound,doge,ethereum,litecoin,opensea,synthetix,...,lifinity,llamalend,avalanche,perp88,dodo,kperp-exchange,mummy-finance
date,,,,,,,,,,,,,,,
2022-12-24 00:00:00+00:00,"296,554.3263","45,843.3030","1,916.0710","2,124,989.0083",949.7783,"494,707.4764","21,956.5439",...,953.6347,346.8226,"8,481.8430",3.5625,"1,920.2236",3.3030,"2,849.5956"
2022-12-25 00:00:00+00:00,"292,152.4550","44,657.7190","1,682.1656","1,733,610.6849",894.8683,"428,678.0053","17,395.5862",...,0.0000,346.9121,"7,225.7105",8.9125,"3,839.5065",6.9320,736.1510
2022-12-26 00:00:00+00:00,"228,040.7892","49,692.5425","1,374.4331","1,697,415.8380",872.7663,"546,816.4810","20,602.6015",...,265.0659,300.1418,"8,603.5158",14.2626,"4,533.7075",2.5395,992.5947
2022-12-27 00:00:00+00:00,"306,349.7505","47,061.7015","1,483.0706","1,847,780.2849",935.0810,"734,523.2026","45,790.1264",...,0.0000,301.7120,"9,517.9586",9.0318,"4,284.3813",2.1640,"2,287.0415"
2022-12-28 00:00:00+00:00,"393,800.3360","47,315.1904","1,845.3008","2,313,473.6124","1,030.8931","856,998.6198","77,026.9243",...,0.0000,288.9659,"11,617.5947",10.8712,"7,255.7186",4.8910,"2,835.3263"

## Get Protocols Revenue (fees accrued by protocol)

In [9]:
dd = obj.get_fees(data_type='dailyRevenue')
dd.keys()

dict_keys(['revenue_overall', 'revenue_by_dex', 'revenue_by_dex_by_chain_24h', 'daily_revenue', 'daily_revenue_by_dex'])

In [10]:
dd['revenue_overall']

,total24h,total7d,change_1d,change_7d,change_1m,change_7dover7d
0,"2,850,466.0766","20,831,873.8519",9.3200,-11.6400,15.7900,-16.7200

In [11]:
dd['revenue_by_dex'].head()

,name,category,change_1d,change_7d,change_1m,change_7dover7d,total24h,total7d,totalAllTime,chains,dailyUserFees,dailyHoldersRevenue,dailyCreatorRevenue,dailySupplySideRevenue,dailyProtocolRevenue
0,0vix,Lending,-0.1200,7.9900,-4.6700,-0.8200,148.8047,"1,003.3989","14,054.9275",[Polygon],NaN,NaN,None,NaN,NaN
1,AAVE,Lending,3.9000,-7.3400,-9.4100,19.6000,"22,203.6854","162,194.9529",0.0000,"[Ethereum, Avalanche, Polygon, Arbitrum, Optim...",NaN,NaN,None,NaN,NaN
2,Abracadabra,CDP,609.6500,745.9200,"31,538.2000",77.7100,"25,274.7253","37,743.0196",NaN,"[Ethereum, Fantom, Avalanche, BSC, Arbitrum]",NaN,NaN,None,NaN,NaN
3,Angle,CDP,"10,256.4900","3,742.2500",-57.7300,-77.9100,324.3817,"4,863.4649","6,184,005.6996","[Ethereum, Optimism, Arbitrum, Polygon]",NaN,NaN,None,NaN,NaN
4,ApeSwap AMM,Dexes,16.9600,-21.2900,-26.7000,-51.6100,626.3978,"4,000.2887","11,539,828.3516","[BSC, Ethereum, Polygon, Telos]",NaN,NaN,None,NaN,NaN

In [12]:
print(dd['revenue_by_dex_by_chain_24h'].head(), end='\n\n')
print(dd['revenue_by_dex_by_chain_24h']['chain'].unique())

  protocol     chain    total24h
0     0vix   polygon    148.8047
1       v1  ethereum      0.0000
2       v2   polygon    469.2744
3       v2  ethereum 19,034.0560
4       v2      avax    118.3874

['polygon' 'ethereum' 'avax' 'arbitrum' 'optimism' 'fantom' 'harmony'
 'bsc' 'bitcoin' 'xdai' 'aurora' 'doge' 'telos' 'iotex' 'fuse' 'kcc'
 'elastos' 'boba' 'moonbeam' 'moonriver' 'neo' 'kava' 'cronos' 'solana'
 'litecoin' 'cosmos' 'celo' 'tron']

In [13]:
dd['daily_revenue'].head()

                              volume
date
2019-10-11 00:00:00+00:00 1,184.0787
2019-10-12 00:00:00+00:00 1,090.5691
2019-10-13 00:00:00+00:00 2,415.1142
2019-10-14 00:00:00+00:00 2,806.7858
2019-10-15 00:00:00+00:00 2,732.9772

In [14]:
dd['daily_revenue_by_dex'].tail()

,bitcoin,compound,doge,ethereum,litecoin,opensea,synthetix,...,raydium,tarot,lifinity,avalanche,dodo,kperp-exchange,mummy-finance
date,,,,,,,,,,,,,,,
2022-12-23 00:00:00+00:00,0,"5,010.7628",0,"1,842,702.8357",0,"274,516.6818","30,028.1435",...,742.9576,146.8307,0.0000,"10,436.6650",805.0125,0.8596,102.0089
2022-12-24 00:00:00+00:00,0,"4,899.3818",0,"1,737,718.6157",0,"183,546.5759","21,956.5439",...,693.4520,117.6000,143.0452,"8,481.8430",384.0447,0.9909,142.4798
2022-12-25 00:00:00+00:00,0,"4,842.4823",0,"1,457,560.3277",0,"155,438.6160","17,395.5862",...,755.4360,121.7201,0.0000,"7,225.7105",767.9013,2.0796,36.8075
2022-12-26 00:00:00+00:00,0,"5,347.7130",0,"1,374,105.8810",0,"217,989.6773","20,602.6015",...,770.6823,111.9244,39.7599,"8,603.5158",906.7415,0.7619,49.6297
2022-12-27 00:00:00+00:00,0,"5,078.0533",0,"1,483,421.0126",0,"280,898.7417","45,790.1264",...,713.2542,103.7966,0.0000,"9,517.9586",856.8763,0.6492,114.3521

## Get protocols fees on a specific chain

In [15]:
dd = obj.get_fees_this_chain(chain='ethereum', data_type='dailyFees')
dd.keys()

dict_keys(['fees_overall', 'fees_by_dex', 'fees_by_dex_by_chain_24h', 'daily_fees', 'daily_fees_by_dex'])

In [16]:
dd['fees_overall']

,total24h,total7d,change_1d,change_7d,change_1m,change_7dover7d
0,"5,044,071.4044","32,745,136.6293",6.0400,2.6300,-1.1500,-13.3800

In [17]:
dd['fees_by_dex'].head()

,name,category,change_1d,change_7d,change_1m,change_7dover7d,total24h,...,chains,dailyRevenue,dailyUserFees,dailyHoldersRevenue,dailyCreatorRevenue,dailySupplySideRevenue,dailyProtocolRevenue
0,AAVE,Lending,-0.9800,-6.8300,5.6400,4.9600,"140,668.6349",...,[Ethereum],"18,109.8816",NaN,NaN,None,NaN,NaN
1,Abracadabra,CDP,-72.7500,942.2200,136.2400,233.2700,"13,756.7007",...,[Ethereum],"6,878.3503",NaN,NaN,None,NaN,NaN
2,Angle,CDP,"3,042.2700","1,644.5600","2,078.0100",-2.3300,"16,564.4803",...,[Ethereum],"8,635.9372",NaN,NaN,None,NaN,NaN
3,ApeSwap AMM,Dexes,102.1500,-52.0400,-82.3300,-39.5200,0.5683,...,[Ethereum],0.1421,NaN,NaN,None,NaN,NaN
4,Balancer,Dexes,117.8600,34.3400,-43.7100,-41.5100,"25,296.9336",...,[Ethereum],"12,648.4668",NaN,NaN,None,NaN,NaN

In [18]:
dd['fees_by_dex_by_chain_24h'].head()

      protocol     chain     total24h
0           v1  ethereum       8.9865
1           v2  ethereum 140,659.6483
2  abracadabra  ethereum  13,756.7007
3        angle  ethereum  16,564.4803
4      apeswap  ethereum       0.5683

In [19]:
dd['daily_fees'].head()

                                volume
date
2019-10-11 00:00:00+00:00 113,193.5088
2019-10-12 00:00:00+00:00 100,673.5788
2019-10-13 00:00:00+00:00  91,704.0811
2019-10-14 00:00:00+00:00  91,997.9260
2019-10-15 00:00:00+00:00 106,109.1092

In [20]:
dd['daily_fees_by_dex'].head()

,compound,ethereum,opensea,synthetix,uniswap,makerdao,curve,...,frax-swap,premia,stargate,ghostmarket,pancakeswap,llamalend,dodo
date,,,,,,,,,,,,,,,
2019-10-11 00:00:00+00:00,"14,413.0431","95,564.4491",427.3362,0.0000,"2,788.6805",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-12 00:00:00+00:00,"14,183.3698","85,008.8943",372.9672,0.0000,"1,108.3476",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-13 00:00:00+00:00,"14,280.3340","70,596.0301","5,551.1769",0.0000,"1,276.5401",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-14 00:00:00+00:00,"14,191.0842","68,302.0090","7,146.3175",0.0000,"2,358.5152",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-15 00:00:00+00:00,"14,391.1652","82,944.9437","6,778.6639",0.0000,"1,994.3364",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Get protocols revenue on a specific chain

In [21]:
dd = obj.get_fees_this_chain(chain='ethereum', data_type='dailyRevenue')
dd.keys()

dict_keys(['revenue_overall', 'revenue_by_dex', 'revenue_by_dex_by_chain_24h', 'daily_revenue', 'daily_revenue_by_dex'])

In [22]:
dd['revenue_overall']

,total24h,total7d,change_1d,change_7d,change_1m,change_7dover7d
0,"2,495,168.9092","15,336,658.7583",20.9000,-0.8400,43.4700,-12.0600

In [23]:
dd['revenue_by_dex'].head()

,name,category,change_1d,change_7d,change_1m,change_7dover7d,total24h,...,chains,dailyRevenue,dailyUserFees,dailyHoldersRevenue,dailyCreatorRevenue,dailySupplySideRevenue,dailyProtocolRevenue
0,AAVE,Lending,-4.8600,-8.8900,10.8900,21.8600,"18,109.8816",...,[Ethereum],"18,109.8816",NaN,NaN,None,NaN,NaN
1,Abracadabra,CDP,-72.7500,942.2200,136.2400,233.2700,"6,878.3503",...,[Ethereum],"6,878.3503",NaN,NaN,None,NaN,NaN
2,Angle,CDP,"2,621.6000",809.5600,"1,035.7500",-33.2700,"8,635.9372",...,[Ethereum],"8,635.9372",NaN,NaN,None,NaN,NaN
3,ApeSwap AMM,Dexes,102.1500,-52.0400,-82.3300,-39.5200,0.1421,...,[Ethereum],0.1421,NaN,NaN,None,NaN,NaN
4,Balancer,Dexes,268.8800,71.7900,-28.2700,-43.4900,"12,648.4668",...,[Ethereum],"12,648.4668",NaN,NaN,None,NaN,NaN

In [24]:
dd['revenue_by_dex_by_chain_24h'].head()

      protocol     chain    total24h
0           v1  ethereum      0.0000
1           v2  ethereum 18,109.8816
2  abracadabra  ethereum  6,878.3503
3        angle  ethereum  8,635.9372
4      apeswap  ethereum      0.1421

In [25]:
dd['daily_revenue'].head()

                              volume
date
2019-10-11 00:00:00+00:00 1,184.0787
2019-10-12 00:00:00+00:00 1,090.5691
2019-10-13 00:00:00+00:00 2,415.1142
2019-10-14 00:00:00+00:00 2,806.7858
2019-10-15 00:00:00+00:00 2,732.9772

In [26]:
dd['daily_revenue_by_dex'].head()

,compound,ethereum,opensea,synthetix,uniswap,makerdao,curve,...,radioshack,apeswap,frax-swap,stargate,ghostmarket,pancakeswap,dodo
date,,,,,,,,,,,,,,,
2019-10-11 00:00:00+00:00,998.2746,0.0000,185.8041,0.0000,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-12 00:00:00+00:00,980.0384,0.0000,110.5307,0.0000,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-13 00:00:00+00:00,984.6373,0.0000,"1,430.4769",0.0000,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-14 00:00:00+00:00,976.3100,0.0000,"1,830.4758",0.0000,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-15 00:00:00+00:00,993.5093,0.0000,"1,739.4679",0.0000,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Get daily fees and revenue of a specific protocol

In [27]:
df = obj.get_daily_fees_this_protocol(protocol='gmx', data_type='dailyFees')
print(df.head(), end='\n\n')
print(df.tail())

                                fees
date
2021-09-02 00:00:00+00:00 3,340.5044
2021-09-03 00:00:00+00:00 4,537.8886
2021-09-04 00:00:00+00:00 1,070.6653
2021-09-05 00:00:00+00:00 1,167.3130
2021-09-06 00:00:00+00:00 6,340.0759

                                  fees
date
2022-12-24 00:00:00+00:00  49,510.0475
2022-12-25 00:00:00+00:00 106,891.6622
2022-12-26 00:00:00+00:00  58,115.4434
2022-12-27 00:00:00+00:00 150,605.2307
2022-12-28 00:00:00+00:00 229,424.8155

In [28]:
df = obj.get_daily_fees_this_protocol(protocol='gmx', data_type='dailyRevenue')
print(df.head(), end='\n\n')
print(df.tail())

                             revenue
date
2021-09-02 00:00:00+00:00 1,002.1513
2021-09-03 00:00:00+00:00 1,361.3666
2021-09-04 00:00:00+00:00   321.1996
2021-09-05 00:00:00+00:00   350.1939
2021-09-06 00:00:00+00:00 1,902.0228

                              revenue
date
2022-12-24 00:00:00+00:00 14,853.0143
2022-12-25 00:00:00+00:00 32,067.4987
2022-12-26 00:00:00+00:00 17,434.6330
2022-12-27 00:00:00+00:00 45,181.5692
2022-12-28 00:00:00+00:00 68,827.4446